# Add any directories, files, or patterns you don't want to be tracked by version control



*.jpg
*.c
*.h
*.zip
*.pdf
*.png
*.pklg
*.elf

.bash_history

.Trash/
.android/
.bash_sessions/
.config/
.cups/
.local/
.upp/

Public/
.cocoapods/
.ecplipse/
.lldb/
.nxp/
.vscode/
.sonar/
Applications/
Desktop/
Documents/
Downloads/
Music/
Library/
Movies/
Music/
Parallels/
Pictures/
Sites/
Qt/
Wahoo/
mcuxpresso/

.CFUserTextEncoding
.git-prompt_old.sh
.gitflow_export
.wfCreatePullRequests.myslackname.txt
.eclipse/org.eclipse.oomph.p2/agents.info
.oracle_jre_usage/4bb82287.timestamp
.p2/pools.info
.p2/profiles.info
.redhat/anonymousId
.TotalPhase/DataCenter/preferences.ini
