# Add any directories, files, or patterns you don't want to be tracked by version control




.claude/*
.claude/skills/synced/*
.claude/skills/synced/.*
!.claude/CLAUDE.md
!.claude/STE.md
!.claude/skills/
!.claude/agents/
Wahoo/*
!Wahoo/.claude/
!Wahoo/CLAUDE.md
!Wahoo/agents/
!Wahoo/skills/


*.jpg
*.c
*.h
*.zip
*.pdf
*.png
*.pklg
*.elf


.bash_history
.ssh/
.nvm/
.docker/

.Trash/
.android/
.bash_sessions/
.config/
.cups/
.local/
.upp/
.claude.*
Public/
.cocoapods/
.bun/
.bash*
.ecplipse/
.lldb/
.nxp/
.vscode/
.sonar/
Applications/
Desktop/
Documents/
Downloads/
esp/
Music/
Library/
Movies/
Music/
Parallels/
Pictures/
Sites/
Qt/

mcuxpresso/
Calibre*/
data.txt

.CFUserTextEncoding
.git-prompt_old.sh
.gitflow_export
.copilot/
.esp-idf-sbom/
.espressif/
.github/
.claude-mem/
.lesshst
.matplotlib/
.netrc
.npm/
.nrfconnect-apps/
.nrfutil/
.platformio/
.pyenv/
.viminfo
.vscode-shared/
.wahoofitness.json
Applications (Parallels)/
Book1.xlsx
git-gone
go/
ncaine6@gmail.com - Google Drive
nick.caine@wahoofitness.com - Google Drive
pio312/
recover/
vcpkg/